<!DOCTYPE html>
{% extends 'Home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="p-5 bg-light rounded">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="text-center mx-auto" style="max-width: 700px;">
                                <h1 class="text-primary">About Us</h1>
                            </div>
                        </div>
                            <p>
                                Welcome to E-Mart, your go-to online marketplace for quality products at unbeatable prices! At E-Mart, we are committed to providing a seamless and enjoyable shopping experience, bringing you a diverse selection of products across various categories—ranging from electronics and fashion to home essentials and more.
                                Our mission is to empower customers with convenience, choice, and confidence. We carefully curate our product offerings to ensure top quality, value, and reliability, so you can shop with peace of mind. Whether you're seeking the latest gadgets, trendy apparel, or everyday necessities, E-Mart is here to meet your needs with just a few clicks.

                                At E-Mart, customer satisfaction is at the heart of everything we do. We continually strive to enhance our platform, offering secure transactions, fast shipping, and dedicated customer support to make your shopping experience as smooth as possible. Join us on our journey as we redefine online shopping for the modern world.

                                Welcome to the E-Mart family—where convenience and quality meet!
                            </p>

                    </div>
                </div>
            </div>
        </div>

</body>
</html>
{% endblock %}