<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <h5 class="card-header">Category Details</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Category Name</th>
                          <th>Description</th>
                          <th>Image</th>
                          <th>Edit Details</th>
                          <th>Delete Data</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in cate %}
                      <tr>
                          <td>{{i.C_Name}}</td>
                          <td>{{i.C_Desc}}</td>
                            <td>
                              <img src="{{i.C_Image.url}}" width="40px" height="40px">
                          </td>
                          <td><a href="{% url 'EditCategory' c_id=i.id %}" class="btn btn-primary">Edit</a></td>
                          <td><a href="{% url 'DeleteCategory' c_id=i.id %}" class="btn btn-danger">Delete</a></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}

    {% for i in messages %}

        {% if i.tags == 'success' %}
            <script>
                swal('{{i}}', '' , 'success')
            </script>

        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}', '' , 'error')
            </script>

        {% elif i.tags == 'warning' %}
            <script>
                swal('{{i}}', '' , 'warning')
            </script>

        {% else %}
            <script>
                swal('{{i}}', '' , 'info')
            </script>
        {% endif %}

    {% endfor %}

{% endif %}

</body>
</html>
{% endblock %}